body {
    font-family: Arial, sans-serif;
    background-color: #4CAF50; /* Green background */
}

.header, .description, .game-view, .video {
    margin: 20px;
    padding: 15px;
    background-color: white;
    border-radius: 8px;
}

.game-image {
    max-width: 50%; /* Maximum width of images is 50% of their container */
    height: auto; /* Height is set to auto to maintain aspect ratio */
    display: block; /* Display block to allow width and margin to be set */
    margin: 0 auto; /* Center the images within their container */
}
